	.glava{
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background: yellow;
			border: #000;
			border-style: solid;
		}
		.locho{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: #fff;
			position: relative;
			left: 100px;
			top: 50px;
			right:60px;
		}
		.locho-vutre{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #000;
			position: relative;
			left: 10px;
			right: 40px;
			top: 20px;
		}
		.dEsno-ocho{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: #fff;
			position: relative;
			left: 50px;
			right:100px;
			top: 50px;
			top: 20px;
		}
		.dEsno-vutre{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #000;
			position: relative;
			left: 10px;
			right: 80px;
		}
		.nose{
			width: 30px;
			height: 30px;
			background-color:red ;
			border-radius: 50%;
			position: relative;
			left: 80px;
			top: 30px;
		}
		.usta{
			width: 80px;
			height: 30px;
			background-color:#fff;
			border-radius: 30px;
			border-color: black;
			position: relative;
			top: 40px;
			left: 60px;
		}
		.zub1{
			width: 10px;
			height: 20px;
			border-style: solid;
			border-radius: 20px;
			border-color: black;
			position: relative;
			left: 40px;
		}
		.zub2{
			width: 10px;
			height: 20px;
			border-style: solid;
			border-radius: 20px;
			border-color: black;
			position: relative;
			bottom: 25px;
			left: 27px;
		}